faiss-cpu
langchain==0.2.16
langchain-community==0.2.16
langchain-core==0.2.38
langchain-openai==0.1.23
langchain-text-splitters==0.2.4
MFDFA==0.4.3
numpy==1.26.4
openai==1.44.1
openpyxl==3.1.5
orjson==3.10.7
packaging==24.1
pandas==2.2.2
streamlit==1.38.0
streamlit-code-editor==0.1.21
streamlit-option-menu==0.3.13
tenacity==8.5.0
tiktoken==0.7.0
toml==0.10.2
tornado==6.4.1
tqdm==4.66.5
yfinance==0.2.43
python-dotenv
